<div class="brands">
    <header class="com-header">
        <div class="action">
            <a class="back" href="javascript:window.history.go(-1);"></a>
        </div>
        <span class="title">
            选择产品
        </span>
        <!--<div class="info" style="display: none;">-->
        <!--<a id="btn-address-detail-cancel" href="javascript:;" class="text">-->
        <!--取消-->
        <!--</a>-->
        <!--</div>-->
    </header>
    <main class="com-main">
        <div class="brand-list">
            <% if(data.length > 0 ){ %>
            <div class="sf-cells list-wrapper">
                <% for(var i = 0;i < data.length;i++){ %>
                <div class="sf-cell address-item" data-id="<%= data[i].id %>"
                     data-json='<%= JSON.stringify(data[i]) %>'>
                    <a class="inline-block product-detail" href="javascript:;" data-name="<%= data[i].id %>">
                        <div class="inline-block img-wrapper">
                            <img class="img-icon" src="../../../images/product/<%= data[i].id %>.png">
                        </div>
                        <label class="inline-block weui_label"><%= data[i].productName %></label>
                    </a>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
    </main>
</div>