<%
var list = data.categories;
var aPriceList = data.aPriceCategories;
var len = list.length;
var aPriceListLen = aPriceList.length;
var orderType = data.orderType;
%>
<div class="home-repair">
    <header class="com-header">
        <div class="action">
            <a class="back" href="javascript:window.history.go(-1);"></a>
        </div>
        <span class="title">
            家电安装
        </span>
        <div class="other">
            <a id="btn-reference-price" class="text" href="reference/" style="display: none">
                <span>参考价格</span>
            </a>
            <a id="btn-desc" class="text" href="pricedesc/">
                <span>一口价说明</span>
            </a>

        </div>
    </header>
    <main class="com-main">
        <div class="weui_tab">
            <div class="repair-tab">
                <div class="weui_navbar">
                    <a data-target="#home-tab-comb" href="#home-tab-comb" class="weui_navbar_item weui_bar_item_on">
                        <span>一口价</span>
                    </a>
                    <a data-target="#home-tab-normal" href="#home-tab-normal" class="weui_navbar_item">
                        <span>普通价</span>
                    </a>
                </div>
            </div>
            <div class="weui_tab_bd">
                <div id="home-tab-comb" class="weui_tab_bd_item weui_tab_bd_item_active">
                    <div class="weui_cells">
                        <% for(var i = 0;i < aPriceListLen;i++){
                            var d = aPriceList[i];
                        %>
                        <div id="item-<%= d.productId %>"
                             class="row item-<%= d.productId %>"
                             data-json='<%= JSON.stringify(d) %>'
                             data-id="<%= d.categoryId %>">
                            <div class="weui_cell product">
                                <div class="weui_cell_hd">
                                    <div class="inline-block product-selector check-flag"><i class="icon-check"></i></div>
                                    <a class="inline-block product-detail" href="javascript:;" data-name="<%= d.productName %>">
                                        <div class="inline-block img-wrapper">
                                            <img class="img-icon" src="../static/images/repair/<%= d.productId %>.png">
                                        </div>
                                        <label class="inline-block weui_label"><%= d.productSmallCategory %></label>
                                    </a>

                                </div>
                                <div class="weui_cell_bd weui_cell_primary product-selector">
                                    <span></span>
                                    <span class="symptom-selected-txt pull-right"></span>
                                </div>
                                <div class="weui_cell_ft product-selector arrow arrow-down"></div>
                            </div>

                            <div class="symptom-box hide">
                                <div class="box-heading">
                                    <% if (orderType == 3) {%>
                                    <span>服务类目（单选）</span>
                                    <% } else {%>
                                    <span>故障现象（单选）</span>
                                    <% }%>
                                </div>
                                <div class="box-body">
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div id="home-tab-normal" class="weui_tab_bd_item">
                    <div class="weui_cells">
                        <% for(var i = 0;i < len;i++){
                            var d = list[i];
                        %>
                        <div class="row item-<%= d.categoryId %>"
                             data-json='<%= JSON.stringify(d) %>'
                             data-id="<%= d.categoryId %>">
                            <div class="weui_cell product">
                                <div class="weui_cell_hd">
                                    <div class="inline-block product-selector check-flag"><i class="icon-check"></i></div>
                                    <a class="inline-block product-detail" href="javascript:;" data-name="<%= d.categoryName %>">
                                        <div class="inline-block img-wrapper">
                                            <img class="img-icon" src="../static/images/repair/<%= d.categoryId %>.png">
                                        </div>
                                        <label class="inline-block weui_label"><%= d.categoryName %></label>
                                    </a>

                                </div>
                                <div class="weui_cell_bd weui_cell_primary product-selector">
                                    <span></span>
                                    <span class="symptom-selected-txt pull-right"></span>
                                </div>
                                <!--<div class="weui_cell_ft product-selector arrow arrow-down"></div>-->
                                <div class="weui_cell_ft product-selector <%= orderType == 2 ? 'arrow arrow-down' : '' %>"></div>
                            </div>

                            <div class="symptom-box hide">
                                <div class="box-heading">
                                    <span>故障现象（单选）</span>
                                </div>
                                <div class="box-body">
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <!-- 维修 -->
        <div class="home-repair-tip">
            <h4>温馨提示</h4>
            <ol>
                <li>十分到家工程师服务时间为9:00-21:00，如遇下单问题请咨询：4008-300-100;</li>
                <li>请提前预约，工程师会提前与您确定具体上门时间;</li>
                <li>服务中遇到任何问题，可拨打客服热线4008-300-100反馈，我们会及时跟进处理;</li>
                <li>需要工程师上门检测后报价，再进行维修。报价不满意可放弃维修，需支付30元上门费;</li>
                <li class="a-price-tip-content">该一口价含一般配件，特殊配件另外加收配件费，具体点击产品看详情;</li>
                <li>24小时、365天全天服务热线：4008-300-100;</li>
                <li>如需申请退款请拨4008-300-100电话申请。</li>
            </ol>
        </div>
        <div class="com-slogan"></div>
    </main>
    <footer class="com-footer">
        <div class="action-bottom">
            <ul class="notification-menu">
                <li>
                    <div>
                        <span class="price-title">应收金额：</span>
                        <span class="price-num blue">￥0</span>
                    </div>
                </li>
                <li>
                    <a id="btn-repair-order" href="javascript:;" class="btn">
                        确定下单
                    </a>
                </li>
            </ul>

        </div>
    </footer>
</div>