<div class="checkorderlist">
    <main class="com-main" style="bottom: 0;top: 0">
        <%
        for(var i = 0;i < content.length;i++){
            var data = content[i];
        if(data.statu == 1 || data.statu == 2 || data.statu == 5){
        %>

        <br>
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">付款金额</label>
                    <em class="weui-form-preview__value">¥<%= data.totalAmount %></em>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">商品</label>
                    <span class="weui-form-preview__value"><%= data.name %></span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">订单号</label>
                    <span class="weui-form-preview__value"><%= data.orderNo %></span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">订单状态</label>
                    <% if (data.statu == 5){ %>
                    <span class="weui-form-preview__value">理赔已受理</span>
                    <% } else if (data.statu == 0){ %>
                    <span class="weui-form-preview__value">未支付</span>
                    <% } else if (data.statu == 1){ %>
                    <span class="weui-form-preview__value">质保中</span>
                    <% } else if (data.statu == 2){ %>
                    <span class="weui-form-preview__value">已赔付</span>
                    <% } else if (data.statu == 3){ %>
                    <span class="weui-form-preview__value">已过期</span>
                    <% } else if (data.statu == 4){ %>
                    <span class="weui-form-preview__value">已删除</span>
                    <% } %>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">购买渠道</label>
                    <span class="weui-form-preview__value"><%= data.shopName %></span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">购买日期</label>
                    <span class="weui-form-preview__value"><%= data.createTimeStr %></span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">服务开始时间</label>
                    <span class="weui-form-preview__value"><%= data.createTimeStr %></span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">服务结束时间</label>
                    <span class="weui-form-preview__value"><%= data.endTimeStr %></span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">服务时长</label>
                    <span class="weui-form-preview__value"><%= data.timeLimit %>个月</span>
                </div>
                <div class="weui-form-preview__item pfjl hide">
                </div>
            </div>
            <div class="weui-form-preview__ft">
                <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">显示更多</a>
            </div>
        </div>
        <% }} %>
        <br>
    </main>
</div>
