<%
var data1 = data1;
var len = data1.data.length;
%>
<div class="entrance">
    <header class="com-header">
        <!--<div class="action">-->
        <!--<a class="back" href="javascript:window.history.go(-1);"></a>-->
        <!--</div>-->
        <span class="title">
            选择服务
        </span>
        <!--<div class="info" style="display: none;">-->
        <!--<a id="btn-address-detail-cancel" href="javascript:;" class="text">-->
        <!--取消-->
        <!--</a>-->
        <!--</div>-->
    </header>
    <main class="com-main" style="bottom: 0;">
        <div class="weui_tab" style="height: auto;">
            <div class="vip-tab">
                <div class="weui_navbar">
                    <a data-target="#vip-balance" href="#vip-balance" class="weui_navbar_item weui_bar_item_on">
                        <span>汽车膜质保</span>
                    </a>
                    <a data-target="#vip-rechargecard" href="#vip-rechargecard" class="weui_navbar_item">
                        <span>玻璃险</span>
                    </a>
                </div>
            </div>
            <div class="weui_tab_bd">
                <div id="vip-balance" class="weui_tab_bd_item weui_tab_bd_item_active">
                    <div class="weui_grids me-action-list">
                        <a href="http://125.93.53.91:31337/app/chat.html?appname=tenant_APPshifen" class="weui_grid">
                            <div class="weui_grid_icon">
                                <img src="../static/images/my/zaixiankefu.png" alt="">
                            </div>
                            <p class="weui_grid_label">
                                在线客服
                            </p>
                        </a>
                        <a href="tel:4008300100" class="weui_grid">
                            <div class="weui_grid_icon">
                                <img src="../static/images/my/kefurexian.png" alt="">
                            </div>
                            <p class="weui_grid_label">
                                客服热线
                            </p>
                        </a>
                        <a href="javascript:;" id="js-to-feedback" class="weui_grid">
                            <div class="weui_grid_icon">
                                <img src="../static/images/my/feedback.png" alt="">
                            </div>
                            <p class="weui_grid_label">
                                意见反馈
                            </p>
                        </a>
                    </div>
                </div>
                <div id="vip-rechargecard" class="weui_tab_bd_item">
                    <% if(len > 0 ){ %>
                    <!--<p style="background-color: #ffffff;text-align: center;padding:10px 0;color: #666;font-size: 16px">请选择您的汽车品牌</p>-->
                    <div class="weui_cells weui_cells_access list-wrapper phone-list">
                        <div class="brands_szm">
                            <span>热门汽车品牌</span>
                        </div>
                        <div class="weui-grids">
                            <a href="javascript:;" class="weui-grid" data-name="大众"
                               data-json='{"id":"36ee4dd84f8448ab9343cff51899813a","firstChar":"D","name":"大众","logo":"http://www.tcsdcar.com/images/brand/36ee4dd84f8448ab9343cff51899813a.png","statu":0}'>
                                <div class="weui-grid__icon">
                                    <img src="http://www.tcsdcar.com/images/brand/36ee4dd84f8448ab9343cff51899813a.png"
                                         alt="大众">
                                </div>
                                <p class="weui-grid__label">大众</p>
                            </a>
                            <a href="javascript:;" class="weui-grid" data-name='别克'
                               data-json='{"id":"54104160abce4e0fb0cae4c7dc67aa68","firstChar":"B","name":"别克","logo":"http://www.tcsdcar.com/images/brand/54104160abce4e0fb0cae4c7dc67aa68.png","statu":0}'>
                                <div class="weui-grid__icon">
                                    <img src="http://www.tcsdcar.com/images/brand/54104160abce4e0fb0cae4c7dc67aa68.png"
                                         alt="别克">
                                </div>
                                <p class="weui-grid__label">别克</p>
                            </a>
                            <a href="javascript:;" class="weui-grid" data-name='福特'
                               data-json='{"id":"d3642ddee02a4efc9bc3fe7eaec82d23","firstChar":"F","name":"福特","logo":"http://www.tcsdcar.com/images/brand/d3642ddee02a4efc9bc3fe7eaec82d23.png","statu":0}'>
                                <div class="weui-grid__icon">
                                    <img src="http://www.tcsdcar.com/images/brand/d3642ddee02a4efc9bc3fe7eaec82d23.png"
                                         alt="福特">
                                </div>
                                <p class="weui-grid__label">福特</p>
                            </a>
                            <a href="javascript:;" class="weui-grid" data-name='丰田'
                               data-json='{"id":"03dd061e558b45dd91f008481efb62d7","firstChar":"F","name":"丰田","logo":"http://www.tcsdcar.com/images/brand/03dd061e558b45dd91f008481efb62d7.png","statu":0}'>
                                <div class="weui-grid__icon">
                                    <img src="http://www.tcsdcar.com/images/brand/03dd061e558b45dd91f008481efb62d7.png"
                                         alt="丰田">
                                </div>
                                <p class="weui-grid__label">丰田</p>
                            </a>
                            <a href="javascript:;" class="weui-grid" data-name='奥迪'
                               data-json='{"id":"24347abc21b042458259f124553615fb","firstChar":"A","name":"奥迪","logo":"http://www.tcsdcar.com/images/brand/24347abc21b042458259f124553615fb.png","statu":0}'>
                                <div class="weui-grid__icon">
                                    <img src="http://www.tcsdcar.com/images/brand/24347abc21b042458259f124553615fb.png"
                                         alt="奥迪">
                                </div>
                                <p class="weui-grid__label">奥迪</p>
                            </a>
                            <a href="javascript:;" class="weui-grid" data-name='本田'
                               data-json='{"id":"461673cd851d4d508b802a5988f39634","firstChar":"B","name":"本田","logo":"http://www.tcsdcar.com/images/brand/461673cd851d4d508b802a5988f39634.png","statu":0}'>
                                <div class="weui-grid__icon">
                                    <img src="http://www.tcsdcar.com/images/brand/461673cd851d4d508b802a5988f39634.png"
                                         alt="本田">
                                </div>
                                <p class="weui-grid__label">本田</p>
                            </a>
                            <a href="javascript:;" class="weui-grid" data-name='现代'
                               data-json='{"id":"d521bf152d564919975cfbd8c24bb66f","firstChar":"X","name":"现代","logo":"http://www.tcsdcar.com/images/brand/d521bf152d564919975cfbd8c24bb66f.png","statu":0}'>
                                <div class="weui-grid__icon">
                                    <img src="http://www.tcsdcar.com/images/brand/d521bf152d564919975cfbd8c24bb66f.png"
                                         alt="现代">
                                </div>
                                <p class="weui-grid__label">现代</p>
                            </a>
                            <a href="javascript:;" class="weui-grid" data-name='哈佛'
                               data-json='{"id":"71ee614de77b462183e2341700161d72","firstChar":"H","name":"哈弗","logo":"http://www.tcsdcar.com/images/brand/71ee614de77b462183e2341700161d72.png","statu":0}'>
                                <div class="weui-grid__icon" style="width: 68px;">
                                    <img src="http://www.tcsdcar.com/images/brand/71ee614de77b462183e2341700161d72.png"
                                         alt="哈佛">
                                </div>
                                <p class="weui-grid__label">哈佛</p>
                            </a>
                            <a href="javascript:;" class="weui-grid" data-name='吉利'
                               data-json='{"id":"517909db47fa4d5ba4f4c33619bdc017","firstChar":"J","name":"吉利","logo":"http://www.tcsdcar.com/images/brand/517909db47fa4d5ba4f4c33619bdc017.png","statu":0}'>
                                <div class="weui-grid__icon">
                                    <img src="http://www.tcsdcar.com/images/brand/517909db47fa4d5ba4f4c33619bdc017.png"
                                         alt="吉利">
                                </div>
                                <p class="weui-grid__label">吉利</p>
                            </a>
                        </div>
                        <%
                        for(var i = 0;i < len;i++){
                            var d = data1.data[i];
                        %>
                        <div class="brands_szm">
                            <span><%= d.firstChar %></span>
                        </div>
                        <%
                            var content = d.content;
                        for(var j = 0;j < content.length;j++){ %>
                        <a class="weui_cell list-item" href="javascript:;" data-name="<%= content[j].name %>"
                           data-json='<%= JSON.stringify(content[j]) %>'>
                            <div class="weui_cell_hd img-wrapper">
                                <img src="../../../images/brand/<%= content[j].id %>.png" alt="icon" class="img-icon">
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>
                                    <span><%= content[j].name %></span>
                                </p>
                            </div>
                            <div class="weui_cell_ft"></div>
                        </a>
                        <% } %>
                        <% } %>
                    </div>
                    <div class="bottom">
                        <div class="code">
                            <img src="http://www.tcsdcar.com/images/officialwebsite/qrcode_for_gh_dc958df6045d_258.jpg"
                                 alt="同创盛大汽车服务微信公众号">
                            <div class="code-desc">扫描关注公众号</div>
                        </div>
                        <div class="copyright">
                            Copyright © 2017. 湖北同创盛大汽车服务有限公司.<br> All Rights Reserved. <a
                                    href="http://www.miitbeian.gov.cn"
                                    target="_blank">鄂ICP备17007702号-1</a>
                        </div>
                        <div class="gongan">
                            <a target="_blank"
                               href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102000585"><img
                                        src="http://www.tcsdcar.com/images/officialwebsite/beiantubiao.png"
                                        style="float:left;">
                                <p>鄂公网安备
                                    42011102000585号</p></a>
                        </div>
                    </div>

                    <% }else{ %>
                    <%= data1.data[0].firstChar %>

                    <p class="no-data">暂无品牌</p>
                    <% } %>

                </div>
            </div>
        </div>

    </main>
</div>