<%
var yhqList = yhqList;
%>
<%
for(var i=0,len=yhqList.length;i<len;i++){
	var y = yhqList[i];
%>
<div class="flex card">
	<div class="card-head">
		<span>￥</span>
		<span class="num"><%= y.amount%></span>
		<span>元</span>
	</div>
	<div class="card-body flex-1">
		<div class="card-info">
			<p class="card-title">
				<span class="card-flag">现金券</span>
				<span>无门槛消费</span>
			</p>
			<p class="card-desc">卡号：<%=y.code%></p>
			<p class="card-time">有效期<%= y.startTimeStr %> 至 <%= y.expireTimeStr %></p>
		</div>
		<a class="card-btn js-use-my-yhq" href="javascript:;" data-json='<%=JSON.stringify(y)%>'>
			<img src="static/images/checkcoupon/yhq-use-btn.png">
		</a>
	</div>
</div>
<% } %>