<%
var len = data.length;
%>
<div class="brands">
    <header class="com-header">
        <!--<div class="action">-->
        <!--<a class="back" href="javascript:window.history.go(-1);"></a>-->
        <!--</div>-->
        <span class="title">
            选择品牌
        </span>
        <!--<div class="info" style="display: none;">-->
        <!--<a id="btn-address-detail-cancel" href="javascript:;" class="text">-->
        <!--取消-->
        <!--</a>-->
        <!--</div>-->
    </header>
    <main class="com-main" style="bottom: 0;">
        <% if(len > 0 ){ %>
        <div class="weui_cells weui_cells_access list-wrapper phone-list">
            <%
            for(var i = 0;i < len;i++){
                var d = data[i];
            %>
            <div class="brands_szm">
                <span><%= d.firstChar %></span>
            </div>
            <%
                var content = d.content;
            for(var j = 0;j < content.length;j++){ %>
            <a class="weui_cell list-item" href="javascript:;" data-name="<%= content[j].name %>"
               data-json='<%= JSON.stringify(content[j]) %>'>
                <div class="weui_cell_hd img-wrapper">
                    <img src="../../../images/brand/<%= content[j].id %>.png" alt="icon" class="img-icon">
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>
                        <span><%= content[j].name %></span>
                    </p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <% } %>
            <% } %>
        </div>
        <% } %>
    </main>
</div>