<div class="page-address-edit">
    <header class="com-header">
        <div class="action">
            <a class="back" href="javascript:window.history.go(-1);"></a>
        </div>
        <span class="title">
            我的地址
        </span>
    </header>
    <main class="com-main">
        <form id="frm-address-detail" class="address-form">
            <input type="hidden" name="addressId">
            <div class="sf-cells">
                <div class="sf-cell">
                    <div class="sf-cell-hd">
                        <label>所在地区</label>
                    </div>
                    <div class="sf-cell-bd">
                        <div class="gd-row">
                            <div class="gd-col-4">
                                <select class="sf-select ha-valid"
                                        data-select-msg="请选择省"
                                        data-select="0"
                                        name="provinceId">
                                    <option value="0">=选择省=</option>
                                </select>
                            </div>
                            <div class="gd-col-4">
                                <select class="sf-select ha-valid"
                                        data-select-msg="请选择市"
                                        data-select="0"
                                        name="cityId">
                                    <option value="0">=选择市=</option>
                                </select>
                            </div>
                            <div class="gd-col-4">
                                <select class="sf-select ha-valid"
                                        data-select-msg="请选择区"
                                        data-select="0"
                                        name="areaId">
                                    <option value="0">=选择区=</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sf-cell" style="display: none;">
                    <div class="sf-cell-hd">
                        <label>所在街区</label>
                    </div>
                    <div class="sf-cell-bd">
                        <select class="sf-select"
                                data-select-msg="所在街区"
                                data-select="0"
                                name="streetId">
                            <option value="0">=所在街区=</option>
                        </select>
                    </div>
                </div>
                <div class="sf-cell">
                    <div class="sf-cell-hd">
                        <label>详细地址</label>
                    </div>
                    <div class="sf-cell-bd">
                        <input class="sf-input ha-valid" type="text"
                               data-null-msg="请输入详细地址"
                               data-len="50"
                               maxlength="50"
                               data-len-msg="详细地址不能超过{0}个字符"
                               value="<%= addressDetail %>" name="addressDetail" placeholder="街道、小区、大厦">
                    </div>
                </div>
                <div class="sf-cell">
                    <div class="sf-cell-hd">
                        <label>姓名</label>
                    </div>
                    <div class="sf-cell-bd">
                        <input class="sf-input ha-valid" type="text"
                               data-null-msg="请输入姓名"
                               data-len="10"
                               maxlength="10"
                               data-len-msg="姓名不能超过{0}个字符"
                               value="<%= contactName %>" name="contactName" placeholder="请输入姓名">
                    </div>
                </div>
                <div class="sf-cell">
                    <div class="sf-cell-hd">
                        <label>手机号码</label>
                    </div>
                    <div class="sf-cell-bd">
                        <input class="sf-input ha-valid" type="tel"
                               data-null-msg="请输入手机号"
                               data-mobile-msg="手机号格式不正确"
                               data-len="11"
                               maxlength="11"
                               data-len-msg="手机号不能超过{0}个字符"
                               data-value="<%= contactMobile %>" value="<%= contactMobile %>"
                               name="contactMobile" placeholder="请输入手机号码">
                    </div>
                </div>
                <div class="sf-cell">
                    <div class="sf-cell-hd">
                        <label>验证码</label>
                    </div>
                    <div class="sf-cell-bd">
                        <input class="sf-input ha-valid" type="number"
                               data-null-msg="请输入验证码"
                               name="code" placeholder="请输入验证码">
                    </div>
                    <div class="sf-cell-ft">
                        <a id="btn-address-code" href="javascript:;" class="code">获取验证码</a>
                    </div>
                </div>
                <input type="hidden" name="addressId" value="<%= addressId %>">
            </div>
            <div class="action-bottom">
                <a id="btn-address-detail-save" class="btn btn-block btn-blue" href="javascript:;">保存</a>
            </div>
        </form>
    </main>
</div>