<%
var bigClass = bigClass;
var	subClassList = subClassList;
var len = subClassList.length;
var sumObj = sumObj;
var hasServiceItem = false;
%>
<header class="com-header">
    <div class="action">
        <a class="back" href="javascript:window.history.go(-1);"></a>
    </div>
    <span class="title">
            购物车
    </span>
</header>
<main class="com-main">
    <div class="home-household-order">
        <div class="container">
            <div class="shopcart_none hide" id="normalEmpty">
                <p class="title">赶快去挑选您需要的产品服务哦！</p>
                <a href="javascript:;" class="back weui_btn weui_btn_primary">返回</a>
            </div>
            <div class="shopcart_info">
                <form id="frm-household-order">
                    <div class="panel product-panel">
                        <div class="weui_cells_title">
                            <span><i class="line-span"></i><%= bigClass.bigCategory %>产品</span>
                        </div>
                        <div class="weui_cells select-result">
                            <% for(var i=0;i<len;i++){
                                var d = subClassList[i];
                                if(d.productSmallCategory == "其他费用"){
                                    hasServiceItem = true;
                                    continue;
                                }
                            %>
                            <div class="weui_cell product product-item" data-id="<%= d.productId %>">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>
                                        <span class="product-name"><%= d.productSmallCategory %></span>
                                        <span class="pull-right product-price">￥<%= (d.productPriceType<3) ? toFixed2(((d.productConsumerPrice * 10) * d.num)/10) : d.productConsumerPrice %></span>
                                    </p>
                                    <span class="product-desc">
									<%= d.productName %>
                                        <%if(d.productPriceType<3){%>
                                        (<%= d.productExt11 || d.productExt9 %>：<%= d.num + d.productUnit%>)
                                        <%}%>
                                        (<%= d.productConsumerPrice + '元/' +d.productUnit %>)
								</span>
                                </div>
                                <div class="weui_cell_ft">
                                    <div class="gd-clearfix">
                                        <div class="gd-left">
                                            <div class="select-ele-action gd-clearfix">
                                                <span class="sub"><img src="../../static/images/icon-wash-order-plus.png"></span>
                                                <span class="text"><%= d.productNum %></span>
                                                <span class="add"><img src="../../static/images/icon-wash-order-add.png"></span>
                                            </div>
                                        </div>
                                        <div class="gd-left"><span class="product-unit"></span></div>
                                        <div class="gd-right">
                                            <a class="select-ele-del" href="javascript:;">
                                                <img class="del-img" src="../../static/images/shopcart/delete.png" alt="×">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <%if(hasServiceItem){ %>
                    <div class="panel service-panel">
                        <div class="weui_cells_title">
                            <span><i class="line-span"></i>其他费用</span>
                        </div>
                        <div class="weui_cells select-result">
                            <% for(var i=0;i<len;i++){
                                var d = subClassList[i];
                                if(d.productSmallCategory != "其他费用"){
                                    continue;
                                }
                            %>
                            <div class="weui_cell product product-item"  data-id="<%= d.productId %>">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>
                                        <span class="product-name"><%= d.productName %></span>
                                        <span class="pull-right product-price">￥<%= (d.productPriceType<3) ? toFixed2(d.num * d.productNum * d.productConsumerPrice) : toFixed2(d.productNum * d.productConsumerPrice) %></span>
                                    </p>
                                    <span class="product-desc"><%= d.productDesc %></span>
                                </div>
                                <div class="weui_cell_ft">
                                    <div class="gd-clearfix">
                                        <div class="gd-left">
                                            <div class="select-ele-action gd-clearfix">
                                                <span class="sub"><img src="../../static/images/icon-wash-order-plus.png"></span>
                                                <span class="text"><%= d.productNum %></span>
                                                <span class="add"><img src="../../static/images/icon-wash-order-add.png"></span>
                                            </div>
                                        </div>
                                        <div class="gd-left"><span class="product-unit"></span></div>
                                        <div class="gd-right">
                                            <a class="select-ele-del" href="javascript:;">
                                                <img class="del-img" src="../../static/images/shopcart/delete.png" alt="×">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <% } %>

                    <div class="weui_cells_title">
                        <span class="no-left">服务地址</span>
                    </div>
                    <div class="select-form weui_cells weui_cells_access">
                        <a class="weui_cell select_address">
                            <div class="weui_cell_bd weui_cell_primary address-icon">
                                <p id="household-order-address">请选择服务地址</p>
                                <input type="hidden" name="addressDetail" >
                                <input type="hidden" name="contactMobile" >
                                <input type="hidden" name="contactName" >
                                <input type="hidden" name="provinceName" >
                                <input type="hidden" name="cityName" >
                                <input type="hidden" name="areaName" >
                                <input type="hidden" name="addressId" class="ha-valid" data-null-msg="请选择服务地址">
                                <input type="hidden" name="provinceId">
                                <input type="hidden" name="cityId">
                                <input type="hidden" name="areaId">
                            </div>
                            <div class="weui_cell_ft weui_cell_ft_mini"></div>
                        </a>
                    </div>
                </form>
                <div class="weui_cells weui_cells_access">
                    <div class="weui_cell" id="js-order-yhm">
                        <input class="weui_input" type="hidden" name="promoCode" id="promoCode">
                        <a  class="weui_cell_hd weui_cell_primary yhm-icon" href="javascript:;">
                            <span class="promo-code-text">优惠码</span>
                            <p class="gray promo-desc hide"></p>
                        </a>
                        <div class="weui_cell_ft weui_cell_ft_mini"></div>
                    </div>
                </div>

                <div class="panel">
                    <div class="weui_cells_title"><span class="no-left">其它需求描述</span></div>
                    <div class="weui_cells weui_cells_form">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                    <textarea class="weui_textarea"
                              maxlength="140"
                              placeholder="请输入需求(如有补充费用请说明原因/理由)"
                              name="orderDesc"
                              data-len="140"
                              data-len-msg="需求不能超过{0}个字符"
                              rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="order-info-show">
                        <div class="line-info ondoor-line">
                            <span>最低上门费：</span>
                            <span class="price-num">￥0</span>
                        </div>
                        <div class="line-info sum-line">
                            <span>订单总额：</span>
                            <span class="should-price price-num">￥<%=sumObj.sumProductPrice%></span>
                        </div>
                        <div class="line-info hide">
                            <span>钻石会员专享：</span>
                            <span class="repeat-price price-num">9.5折优惠</span>
                        </div>
                        <div class="line-info yhm-line hide">
                            <span class="yh-title">使用优惠券：</span>
                            <span class="yh-price price-num">-￥0</span>
                        </div>
                        <div class="line-info actual-line">
                            <span>应付金额：</span>
                            <span class="actual-price price-num">￥<%=sumObj.sumProductPrice%></span>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="household-tip">
                        <h4>下单须知：</h4>
                        <ol>
                            <li>最低上门费：若单次安装费用低于50元，统一按照50元收取。（注意：北京、上海、广州、深圳最低上门费为80元）。</li>
                            <li>空跑费：工人上门后，因顾客原因（安装条件不具备、产品配件缺失或破损等非工人原因）造成的不能正常安装，需收取50元空跑费（注意：北京、上海、广州、深圳最低上门费为80元）。</li>
                            <li>拆除费：安装新产品前需拆除旧产品，需收取相应的拆除费用，您可以在微信下单页面找到相应拆除费用，具体操作可电话咨询客服。</li>
                            <li>高空作业费：房高超过3米，超高部分每米收取50元的费用，不足一米按一米收取。例如4.5米需收取100元超高费。</li>
                            <li>预约时间：收到订单后24小时会有师傅跟您联系，您可以跟师傅协商上门具体时间。（暂不接受加急订单哦，建议提前一两天预约下单）。</li>
                            <li>24小时、365天全天候服务热线：4008-300-100。</li>
                        </ol>
                    </div>
                </div>

                <div class="action-bottom">
                    <a id="btn-household-order-ensure" href="javascript:;" class="weui_btn weui_btn_primary">
                        <span>确认付款（先付款后服务）</span>
                    </a>
                </div>
            </div>
        </div>


        <!--Tips-->
        <div class="mask-container rule-container hide">
            <div class="mask-bg"></div>
            <div class="dialog">
                <div class="box">
                    <div class="box-heading">
                        <div class="heading-title">
                            <span>下单须知</span>
                            <img class="close-img js-close-rule" src="../../static/images/promotion/close.png">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="rule-list">
                            <p>1、最低上门费：若单次安装费用低于50元，统一按照50元收取。（注意：北京、上海、广州、深圳最低上门费为80元）。</p>
                            <p>2、空跑费：工人上门后，因顾客原因（安装条件不具备、产品配件缺失或破损等非工人原因）造成的不能正常安装，需收取50元空跑费（注意：北京、上海、广州、深圳最低上门费为80元）。</p>
                            <p>3、预约时间：收到订单后24小时会有师傅跟您联系，您可以跟师傅协商上门具体时间。（暂不接受加急订单哦，建议提前一两天预约下单）。</p>
                            <p>4、24小时、365天全天候服务热线：4008-300-100。</p>
                        </div>
                    </div>
                    <div class="ok-bottom">
                        <a id="btn-household-order-ensure" href="javascript:;" class="weui_btn weui_btn_primary">
                            <span>去付款</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>